<%- include('partials/header') %>



<div class="cardsContainer">
    <% if (card.length > 0) {
        card.forEach((card) => { %>

        <div class="card">
        <a href="/card/<%= card.id %>">
            <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
            <p class="cardName"><%= card.name %></p>
        </a>

        <a class="link--addCard" title="Ajouter au deck" href="/deck/delete/<%= card.id %>">[ - ]</a>
        
        </div>

    <% })} else { %>
        <div>
            <p>Il n'y a pas de cartes dans votre deck.</p>
        </div>

        <% } %>
</div>


<%- include('partials/footer') %>